{
  "extends": "../.eslintrc",
  "env": {
    "node": false,
    "browser": true
  },
  "globals": {
    "angular": true,
    "Ionic": true,
    "ionic": true,
    "localforage": true
  },
  "rules": {
    "no-console": 1
  }
}
